*, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
  }

.nav-settings{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #848871;
    text-align: center;
    width: 300px;
    padding-top: 20px;
    align-items: center;

}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    width: 150px;
    font-weight: bold;
}

.settings-wrapper {
    display: flex;
}

.done-button {
    background-color: #262b15;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    border: none;
    width: 75px;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 50px;
}
 
.setting-div {
    padding-left: 20px;
    background-color: #afb4ad;
    width: 100%;
    padding-top: 50px;
    color: white;
    font-weight: bold;
}

.setting-option-icon {
    width: 15px;
    height: 15px;
    text-align: center;
    padding-right: 10px;
}

.horizontal-line {
    height: 1px;
    background-color: #262b15; /* Color for the line */
    background-image: linear-gradient(90deg, #262b15
    , #afb4ad); /* Gradient effect */
    border: none;
    margin: 10px 0; /* Add margin for spacing */
    
  }
  
  .settings-description {
    color: grey;
    font-weight: lighter;
    font-size: 12px;
  }


  .time-option {
    display: flex;
    flex-direction: column;
  }

  .time-options{
    width: 100px;
    margin-top: 5px;
    background-color: #262b15;
    color: white;
    height: 25px;
    border-radius: 5px;
    border: none;
  }

  select:focus-visible, .account-input:focus
  {
    outline: none;
  }
 
  .appearance {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  h4 {
    margin-top: 20px;
  }

  .submitBtn, .done-button {
        outline: 0;
        grid-gap: 8px;
        align-items: center;
        background: 0 0;
        border: 1px solid #262b15;
        border-radius: 4px;
        cursor: pointer;
        display: inline-flex;
        flex-shrink: 0;
        font-size: 16px;
        gap: 8px;
        justify-content: center;
        line-height: 1.5;
        overflow: hidden;
        padding: 12px 16px;
        text-decoration: none;
        text-overflow: ellipsis;
        transition: all .14s ease-out;
        white-space: nowrap;
        width: 100px;
        z-index: 0;
        margin-left: 50px;
        margin-top: 20px;
    }
 .submitBtn:hover, .done-button:hover {
        box-shadow: 4px 4px 0 #262b15;
        transform: translate(-4px,-4px);
    }


 /* Switch functionality */
  
  .switch {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 17px;
    border: none;
    right: 0;
    margin-right: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #262b15;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #262b15;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  .active-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #262b15;
  }

  /*Account component css*/

  .account-form {
    display: flex;
    flex-direction: column;
  }

  .account-input {
    height: 30px;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    text-indent: 10px;
    box-shadow: 0px 2px 2px rgba(38, 43, 21, 0.2);
  }


  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

  /*input*/
 